/* Global Styling */

body{
    margin: auto;
    width: 80%;
    justify-content: center;
}

h3{
    font-size: 2.5vh;
}

a:link, a:visited{
    text-decoration: none;
    color: #616161;
    font-size: 1.9vh;
}

li{
    font-size: 2.15vh;
}

td{
    font-size: 2.15vh;
}

/* HEAD OF THE CONTENT */

.heading{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 2vh;
    border-bottom: .3vh solid;
    padding-bottom: 0.3rem;
}

.heading-info{
    margin-left: 10vw;
}

img{
    height: 12vw;
}

.name{
    color: black;
    font-size: 6.2vh;
    font-weight: 500;
    text-align: center;
}

.details{
    color: #616161;
    text-decoration: none;
    font-size: 1.9vh;
    text-align: center;
}

/* BODY OF THE CONTENT */
/* EXPERIENCES */

.content-body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary{
    padding-top: 0.5rem;
    font-size: 2.2vh;
    color: #494949;  
}

.experiences{
    color: #1b1b1b;
}
.experiences-inner{
    padding-left: 3.2vw;
}

.duration{
    color: #494949;
    font-weight: bold;
    font-size: 2.15vh;
    margin: .3rem 0;
}

.role{
    color: #2e7d32;
    font-weight: bold;
    font-size: 2.15vh;
}

.company{
    color: #494949;
    font-weight: bold;
    font-size: 2.15vh;
}

/* EDUCATION*/

.education{
    display: flex;
    flex-direction: column;
    color: #1b1b1b;
    padding-bottom: 0.3rem;
}

.education-inner{
    padding-left: 3.2vw;
}

.program{
    color: #2e7d32;
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 2.15vh;
}

.school{
    color: #494949;
    font-weight: bold;
    font-size: 2.15vh;
}

/* SKILL*/

table{
    padding-bottom: 2.2vh;
    border-spacing: 3.125rem 0.3rem;
}

.skills-header{
    color: #1b1b1b;
    font-size: 2.5vh;
}

.skill{
    color: #2e7d32;
    font-weight: bold;
    font-size: 2.2vh;
}
