/* Global Styling */

body {
    margin: auto;
    width: 80%;
    justify-content: center;
}

h3 {
    font-size: 2.5vh;
}

a:link,
a:visited {
    text-decoration: none;
    color: #616161;
    font-size: 1.9vh;
    text-align: center;
}

li {
    font-size: 2.15vh;
}

td {
    font-size: 2.15vh;
    display: inline-block;
    padding: 0.2rem 0.8rem;
}

/* HEAD OF THE CONTENT */

.heading {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    padding-top: 2vh;
    border-bottom: .3vh solid;
    padding-bottom: 0.3rem;
}

.heading-info {
    margin-left: 10vw;
}

img {
    height: 12vw;
}

.name {
    color: black;
    font-size: 6.2vh;
    font-weight: 500;
    text-align: center;
}

.details {
    color: #616161;
    text-decoration: none;
    font-size: 1.9vh;
    text-align: center;
}

/* BODY OF THE CONTENT */
/* EXPERIENCES */

.content-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.summary {
    padding-top: 0.5rem;
    font-size: 2.1vh;
    color: #494949;
    text-align: justify;
}

.experiences {
    color: #1b1b1b;
}

.experiences-inner {
    padding-left: 3.2vw;
}

.duration {
    color: #494949;
    font-weight: bold;
    font-size: 2.15vh;
    margin: .3rem 0;
}

.role {
    color: #2e7d32;
    font-weight: bold;
    font-size: 2.15vh;
}

.company {
    color: #494949;
    font-weight: bold;
    font-size: 2.15vh;
}

/* EDUCATION*/

.education {
    display: flex;
    flex-direction: column;
    color: #1b1b1b;
    padding-bottom: 0.4rem;
}

.education-inner {
    padding-left: 3.2vw;
}

.program {
    color: #2e7d32;
    font-weight: bold;
    padding-bottom: 1rem;
    font-size: 2.15vh;
}

.school {
    color: #494949;
    font-weight: bold;
    font-size: 2.15vh;
}

/* SKILL*/

.skills {
    width: 100%;
}

.skill-list {
    padding-left: 3.2vw;
}


/* BUTTON STYLE */

.button-pdf {
    display: flex;
    margin: 2rem 0;
    justify-content: flex-start;
    padding: 2rem;
}

.btn {
    background-color: #61876E;
    border: none;
    color: white;
    padding: 0.75rem 1.875rem;
    cursor: pointer;
    font-size: 1.25rem;
}

.btn:hover {
    background-color: #3C6255;
}

/* .btn:focus{
    background-color: #2e7d32;
} */

/*media queries*/

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    img {
        display: none;
    }

    .heading-info {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        margin: auto;
    }

    .name {
        color: black;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: 0.2rem;
    }

    a:link,
    a:visited {
        text-decoration: none;
        color: #616161;
        font-size: 0.7rem;
    }

    h5 {
        text-align: center;
        margin: 0.3rem 0;
    }

    ul{
        text-align: justify;
        padding-inline-start: 1rem;
    }

    .details {
        color: #616161;
        text-decoration: none;
        font-size: 0.7rem;
        text-align: center;
    }

    .summary {
        font-size: 0.7rem;
        padding-top: 0;
    }

    .skill-list {
        list-style: none;
        text-align: center;
    }

    .button-pdf {
       display: flex;
       justify-content: center;
    }
    
    .btn {
        background-color: #61876E;
        border: none;
        color: white;
        padding: 0.6rem 1.6rem;
        cursor: pointer;
        font-size: 1rem;
    }

}